# =========================
# Sistema Operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos temporales
# =========================
*.tmp
*.bak

# =========================
# Composer (si lo usas luego)
# =========================
vendor/

# =========================
# Variables de entorno (si agregas en el futuro)
# =========================
.env

# =========================
# XAMPP específico
# =========================
/xampp/
